
/* For small screens (e.g., smartphones) */
@media screen and (min-width: 600px) {
    /* CSS rules specific to small screens */
    #check-ang-pagpapalay {
        max-width: 100% !important;
        width: 650px !important;
        /* height: 545px; */
    }

    #palay-check-app {
        max-width: 100% !important;
        width: 600px !important;
    }

    #download-btn {
        width: 700px !important;
        height: 140px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 45px !important;
        padding: 10px 10px 10px 10px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 370px !important;
    }

    #group1{
        max-width: 100% !important;
        background-image: url("../assets/group1.png") !important;
        background-size: 200% 230% !important;
        background-repeat: no-repeat !important;
    }
    
    #group2{
        max-width: 100% !important;
        background-image: url("../assets/group2.png") !important;
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        margin-top: -200px !important;
    }
    
    #group3{
        max-width: 100%;
        /* background-image: url("../assets/group3.png") !important; */
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        margin-top: -345px !important;
    }

}

@media screen and (min-width: 1000px){
    html,
    body {
        background-color: #eeeeee !important;
        min-height: 100vh !important;
        margin: auto !important;
        font-family: 'Poppins' !important;
        overflow-x: hidden !important;
    }

    #group1{
        max-width: 100% !important;
        background-image: url("../assets/group1.png") !important;
        background-size: 200% 230% !important;
        background-repeat: no-repeat !important;
    }

    #group2{
        max-width: 100% !important;
        background-image: url("../assets/group2.png") !important;
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        margin-top: -200px !important;
    }

    #group3{
        max-width: 100% !important;
        /* background-image: url("../assets/group3.png") !important; */
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        margin-top: -345px !important;
        width: 100%;
        height: 100%;
    }

    #download-btn{
        width: 700px !important;
        height: 110px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 45px !important;
        padding: 10px 10px 10px 10px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    #download-btn:hover{
        transform: scale(1.015) perspective(1px) !important;
        background: rgb(0,50,53) !important;
        background: linear-gradient(353deg, rgba(0,50,53,1) 0%, rgba(3,84,89,1) 26%, rgba(0,159,168,1) 100%) !important;
        color: white !important;
    }


    #palay-check-app{
        max-width: 100% !important;
        width: 676px !important;
        /* height: 934px; */
    }

    #palay-check-app-div{
        max-width: 100% !important;
        margin-top: 40px !important;
    }

    #check-ang-pagpapalay{
        max-width: 100% !important;
        width: 923px !important;
        height: 505px !important;
    }

    #check-ang-pagpapalay-div{
        max-width: 100% !important;
        margin-top: 20px !important;
    }
    
    .zoom:hover {
        transform: scale(1.06) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    #rectangle{
        max-width: 100% !important;
        height: 120px !important;
        background: #003235 0% 0% no-repeat padding-box !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -65px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -50px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -30px !important;
        width: 425px !important;
    }

    #ano-ang-pca{
        padding: 20px 20px 20px 20px !important;
        background: #887D2F 0% 0% no-repeat padding-box !important;
        border-radius: 20px !important;
        opacity: 1 !important;
    }

    #magplano{
        max-width: 100% !important;
    }

    #download-button-div{
        margin-top: -635px !important;
        margin-left: 170px !important;
    }
}


@media screen and (min-width: 1920px){
    html,
    body {
        background-color: #eeeeee !important;
        min-height: 100vh !important;
        margin: auto !important;
        font-family: 'Poppins' !important;
        overflow-x: hidden !important;
    }

    #group1{
        max-width: 100%;
        background-image: url("../assets/group1.png") !important;
        background-size: 200% 230% !important;
        background-repeat: no-repeat !important;
    }

    #group2{
        max-width: 100% !important;
        background-image: url("../assets/group2.png") !important;
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        margin-top: -200px !important;
    }

    #group3{
        max-width: 100% !important;
        background-size: 100% 100%  !important;
        background-repeat: no-repeat !important;
        margin-top: -345px  !important;
    }

    #download-btn{
        width: 800px !important;
        height: 140px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 45px !important;
        padding: 10px 10px 10px 10px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    #download-btn:hover{
        transform: scale(1.015) perspective(1px) !important;
        background: rgb(0,50,53) !important;
        background: linear-gradient(353deg, rgba(0,50,53,1) 0%, rgba(3,84,89,1) 26%, rgba(0,159,168,1) 100%) !important;
        color: white !important;
    }

    #palay-check-app{
        max-width: 100% !important;
        width: 676px !important;
        /* height: 934px; */
    }

    #palay-check-app-div{
        max-width: 100% !important;
        margin-top: 40px !important;
    }

    #check-ang-pagpapalay{
        max-width: 100% !important;
        width: 923px !important;
        height: 545px !important;
    }

    #check-ang-pagpapalay-div{
        max-width: 100% !important;
        margin-top: 30px !important;
    }

    .zoom:hover {
        transform: scale(1.06) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    #rectangle{
        max-width: 100% !important;
        height: 120px !important;
        background: #003235 0% 0% no-repeat padding-box !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
    }

    #pic3{
        max-width: 100% !important;
        width: 425px !important;
    }

    #ano-ang-pca{
        padding: 20px 20px 20px 20px !important;
        background: #887D2F 0% 0% no-repeat padding-box !important;
        border-radius: 20px !important;
        opacity: 1 !important;
    }

    #magplano{
        max-width: 100% !important;
        width: 100% !important;
    }

    #download-button-div{
        margin-top: -700px !important;
        margin-left: 250px !important;
    }
}