html,
body {
    background-color: #eeeeee !important;
    min-height: 100vh !important;
    margin: auto !important;
    font-family: 'Poppins' !important;
    overflow-x: hidden !important;
}

.zoom:hover {
    transform: scale(1.06) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#rectangle{
    max-width: 100% !important;
    height: 120px !important;
    background: #003235 0% 0% no-repeat padding-box !important;
}

.ang-pcapp p{
    font-size: 25px !important;
}

#palay-check-app-img{
    max-width: 100% !important;
    width: 652px !important;
    margin-top: 100px !important;
}

#check-ang-pagpapalay-img{
    max-width: 100% !important;
    width: 1030px !important;
    height: 500px !important;
}

.video-container {
    width: 100% !important;
    margin-top: 50px !important;
  }

.video-container video {
    /* Make video to at least 100% wide and tall */
    max-width: 100% !important; 
    width: 90% !important;
    border-radius: 20px !important;
}

#group1{
    max-width: 100% !important;
    background-image: url("../assets/group1.png") !important;
    background-size: 200% 230% !important;
    background-repeat: no-repeat !important;
}

#group2{
    max-width: 100% !important;
    background-image: url("../assets/group2.png") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    margin-top: -470px !important;
}

#group3{
    max-width: 100% !important;
    background-image: url("../assets/group3.png") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    margin-top: -450px !important;
    width: 100%;
    height: 100%;
}

#group4{
    max-width: 100% !important;
    background-image: url("../assets/group2.png") !important;
    background-size: 100% 200% !important;
    background-repeat: no-repeat !important;
    margin-top: -355px !important;
}


.gray-bg{
    padding: 10px 10px 7px 10px !important;
    background: #98CDCD 0% 0% no-repeat padding-box !important;
    border-radius: 20px !important;
    opacity: 1 !important;
    margin-top: 0px !important;
}

.green-bg{
    padding: 15px 10px 10px 10px !important;
    background: #887D2F 0% 0% no-repeat padding-box !important;
    border-radius: 13px !important;
    opacity: 1 !important;
    margin-top: 0px !important;
}

.green-bg h1{
    font-size: 30px !important;
}

.download-btn-g4{
    width: auto !important;
    height: 80px !important;
    background: #F2AA1B 0% 0% no-repeat padding-box !important;
    border-radius: 70px !important;
    font-size: 25px !important;
    padding: 20px 80px 20px 80px !important;
}

.download-btn-g4:hover{
    transform: scale(1.015) perspective(1px) !important;
    background: rgb(0,50,53) !important;
    background: linear-gradient(353deg, rgba(0,50,53,1) 0%, rgba(3,84,89,1) 26%, rgba(0,159,168,1) 100%) !important;
    color: white !important;
}

.w-rounded{
    font-size: 20px !important; 
    border-radius: 30px !important; 
    background-color: white !important;
    padding: 20px 20px 20px 20px !important;
}

.top{
    margin-top: 40px !important;
}

#download-btn{
    width: 640px !important;
    height: 105px !important;
    background: #F2AA1B 0% 0% no-repeat padding-box !important;
    border-radius: 70px !important;
    font-size: 38px !important;
    padding: 30px 30px 30px 30px !important;
}

#download-btn:hover{
    transform: scale(1.015) perspective(1px) !important;
    background: rgb(0,50,53) !important;
    background: linear-gradient(353deg, rgba(0,50,53,1) 0%, rgba(3,84,89,1) 26%, rgba(0,159,168,1) 100%) !important;
    color: white !important;
}

#pic1{
    max-width: 100% !important;
    width: 425px !important;
    margin-right: -100px !important;
}

#pic2{
    max-width: 100% !important;
    width: 450px !important;
    margin-right: -100px !important;
}

#pic3{
    max-width: 100% !important;
    margin-right: -100px !important;
    width: 425px !important;
}

.orange-par{
    padding: 20px 60px 20px 60px !important; 
    color: orange !important;
}

.orange-par h4{
    font-size: 23px !important
}

.be-ora{
    padding: 0px 60px 20px 60px !important; 
}

.be-ora p{
    font-size: 19px !important;
}

.video-container iframe {
    max-width: 100% !important; 
    width: 90% !important;
    height: 700px !important;
    border-radius: 20px !important;
}

#rec-act{
    margin-top: -270px !important;
}

/* For small screens (e.g., smartphones) */
@media screen and (max-width: 768px) {
    #check-ang-pagpapalay-img{
        max-width: 100% !important;
        width: 1030px !important;
        height: 400px !important;
    }

    #palay-check-app-img{
        max-width: 100% !important;
        width: 433px !important;
        height: 532px !important;
        margin-top: 20px !important;
    }

    #download-btn{
        width: auto !important;
        height: 80px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 26px !important;
        padding: 20px 80px 20px 80px !important;
    }

    #download-btn:hover{
        transform: scale(1.015) perspective(1px) !important;
        background: rgb(0,50,53) !important;
        background: linear-gradient(353deg, rgba(0,50,53,1) 0%, rgba(3,84,89,1) 26%, rgba(0,159,168,1) 100%) !important;
        color: white !important;
    }


    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 10px 100px 10px 100px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 18px !important
    }

    .be-ora{
        padding: 10px 100px 10px 100px !important; 
    }

    .be-ora p{
        font-size: 16px !important; 
    }

    .video-container iframe {
        max-width: 100% !important; 
        width: 90% !important;
        height: 400px !important;
        border-radius: 20px !important;
    }

    .ang-pcapp p{
        font-size: 18px !important;
    }

    .w-rounded{
        font-size: 18px !important; 
        border-radius: 30px !important; 
        background-color: white !important;
        padding: 20px 20px 20px 20px !important;
    }

    .gray-bg{
        padding: 15px 10px 10px 10px !important;
        background: #98CDCD 0% 0% no-repeat padding-box !important;
        border-radius: 20px !important;
        opacity: 1 !important;
        margin-top: 0px !important;
        width: 500px !important;
    }
    
    .green-bg{
        padding: 15px 10px 10px 10px !important;
        background: #887D2F 0% 0% no-repeat padding-box !important;
        border-radius: 13px !important;
        opacity: 1 !important;
        margin-top: 0px !important;
    }

    #rec-act{
        margin-top: 20px !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1500px){
    #palay-check-app-img{
        max-width: 100% !important;
        width: 652px !important;
        margin-top: 100px !important;
    }
    
    #check-ang-pagpapalay-img{
        max-width: 100% !important;
        width: 1030px !important;
        height: 500px !important;
    }
    
    .video-container iframe {
        max-width: 100% !important; 
        width: 95% !important;
        height: 500px !important;
        border-radius: 20px !important;
    }
}

/* @media screen and (min-width: 1501px) and (max-width: 1900px){
    #check-ang-pagpapalay-img{
        max-width: 100% !important;
        width: 1030px !important;
        height: 600px !important;
    }
   
    .video-container iframe {
        max-width: 100% !important; 
        width: 95% !important;
        height: 900px !important;
        border-radius: 20px !important;
    }

    .ang-pcapp p{
        font-size: 25px !important;
    }

    #download-btn{
        width: 814px !important;
        height: 145px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 45px !important;
        padding: 40px 60px 40px 60px !important;
    }

    .download-btn-g4{
        width: auto !important;
        height: 100px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 32px !important;
        padding: 30px 100px 30px 100px !important;
    }
} */


/* @media screen and (min-width: 768px){
    #download-btn{
        width: 640px !important;
        height: 105px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }

    .video-container iframe {
        max-width: 100% !important; 
        width: 90% !important;
        height: 480px !important;
        border-radius: 20px !important;
    }

    #rec-act{
        margin-top: -220px !important;
    }

} */


/* @media screen and (min-width: 1100px){

    #download-btn{
        width: 640px !important;
        height: 105px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }   

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }

    .video-container iframe {
        max-width: 100% !important; 
        width: 90% !important;
        height: 500px !important;
        border-radius: 20px !important;
    }
}

@media screen and (min-width: 1200px){
    #download-btn{
        width: 640px !important;
        height: 120px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }

    .video-container iframe {
        max-width: 100% !important; 
        width: 90% !important;
        height: 530px !important;
        border-radius: 20px !important;
    }
}
}

@media screen and (min-width: 1300px){


    #download-btn{
        width: 570px !important;
        height: 110px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }

    .video-container iframe {
        max-width: 100% !important; 
        width: 90% !important;
        height: 550px !important;
        border-radius: 20px !important;
    }
}


@media screen and (min-width: 1310px){


    #download-btn{
        width: 570px !important;
        height: 110px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }

    .video-container iframe {
        max-width: 100% !important; 
        width: 90% !important;
        height: 600px !important;
        border-radius: 20px !important;
    }
}

@media screen and (min-width: 1320px){
    

    #download-btn{
        width: 570px !important;
        height: 110px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1330px){

    #download-btn{
        width: 600px !important;
        height: 110px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1340px){
    #download-btn{
        width: 600px !important;
        height: 110px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1350px){

    #download-btn{
        width: 600px !important;
        height: 110px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1360px){

    #download-btn{
        width: 600px !important;
        height: 110px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1370px){

    #download-btn{
        width: 600px !important;
        height: 110px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1380px){

    #download-btn{
        width: 600px !important;
        height: 110px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}
@media screen and (min-width: 1390px){

    #download-btn{
        width: 600px !important;
        height: 110px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1400px){

    #download-btn{
        width: 600px !important;
        height: 100px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 20px 20px 20px 20px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }

    .video-container iframe {
        max-width: 100% !important; 
        width: 90% !important;
        height: 650px !important;
        border-radius: 20px !important;
    }
}

@media screen and (min-width: 1410px){

    #download-btn{
        width: 580px !important;
        height: 100px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 25px 25px 25px 25px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1420px){

    #download-btn{
        width: 600px !important;
        height: 100px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 20px 20px 20px 20px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1430px){

    #download-btn{
        width: 600px !important;
        height: 100px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 20px 20px 20px 20px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}


@media screen and (min-width: 1440px){

    #download-btn{
        width: 600px !important;
        height: 100px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 20px 20px 20px 20px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1450px){
    #download-btn{
        width: 600px !important;
        height: 97px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 20px 20px 20px 20px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1460px){

    #download-btn{
        width: 600px !important;
        height: 97px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 20px 20px 20px 20px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1470px){

    #download-btn{
        width: 600px !important;
        height: 97px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 20px 20px 20px 20px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }
}

@media screen and (min-width: 1490px){
    #download-btn{
        width: 814px !important;
        height: 100px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 20px 20px 20px 20px !important;
    }

    
    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }

    .video-container iframe {
        max-width: 100% !important; 
        width: 95% !important;
        height: 650px !important;
        border-radius: 20px !important;
    }
}


@media screen and (min-width: 1550px){

    #download-btn{
        width: 600px !important;
        height: 125px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    #download-btn:hover{
        transform: scale(1.015) perspective(1px) !important;
        background: rgb(0,50,53) !important;
        background: linear-gradient(353deg, rgba(0,50,53,1) 0%, rgba(3,84,89,1) 26%, rgba(0,159,168,1) 100%) !important;
        color: white !important;
    }


    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 18px !important
    }

    .be-ora{
        padding: 0px 60px 60px 60px !important; 
    }

    .be-ora p{
        font-size: 16px !important; 
    }
}


@media screen and (min-width: 1600px){

    #download-btn{
        width: 650px !important;
        height: 130px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    .video-container iframe {
        max-width: 100% !important; 
        width: 90% !important;
        height: 700px !important;
        border-radius: 20px !important;
    }
}

@media screen and (min-width: 1700px){

    #download-btn{
        width: 700px !important;
        height: 135px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 38px !important;
        padding: 30px 30px 30px 30px !important;
    }

    .video-container iframe {
        max-width: 100% !important; 
        width: 90% !important;
        height: 800px !important;
        border-radius: 20px !important;
    }
}

@media screen and (min-width: 1800px){

    #download-btn{
        width: 800px !important;
        height: 140px !important;
        background: #F2AA1B 0% 0% no-repeat padding-box !important;
        border-radius: 70px !important;
        font-size: 45px !important;
        padding: 40px 40px 40px 40px !important;
    }

    #download-btn:hover{
        transform: scale(1.015) perspective(1px) !important;
        background: rgb(0,50,53) !important;
        background: linear-gradient(353deg, rgba(0,50,53,1) 0%, rgba(3,84,89,1) 26%, rgba(0,159,168,1) 100%) !important;
        color: white !important;
    }

    #pic1{
        max-width: 100% !important;
        width: 425px !important;
        margin-right: -100px !important;
    }

    #pic2{
        max-width: 100% !important;
        width: 450px !important;
        margin-right: -100px !important;
    }

    #pic3{
        max-width: 100% !important;
        margin-right: -100px !important;
        width: 425px !important;
    }

    .orange-par{
        padding: 20px 60px 20px 60px !important; 
        color: orange !important;
    }

    .orange-par h4{
        font-size: 23px !important
    }

    .be-ora{
        padding: 0px 60px 20px 60px !important; 
    }

    .be-ora p{
        font-size: 19px !important;
    }

    .video-container iframe {
        max-width: 100% !important; 
        width: 90% !important;
        height: 850px !important;
        border-radius: 20px !important;
    }
} */


/* FOR MODAL */
/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 100%;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  } */
  